# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment files
.env
*.env

# IDE/editor settings
.ke git forget already tracked ignored files
git rm -r --cached .
git add .
git commit -m "Applied clean .gitignore and removed ignored files"
git push origin main

vscode/
.idea/
*.swp

# Logs and dumps
*.log
*.out
*.bak
*.tmp

# System files
.DS_Store
Thumbs.db

# Backups
backups/
webbkp/

