<div>
    <div class="grid grid-cols-12 gap-4">
        <div id="aicinformation" class="col-span-12 md:col-span-6 bg-white rounded-lg shadow-lg">
            <div>
                <h1 class="flex flex-row flex-nowrap items-center my-6">
                    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                    <span class="flex-none block mx-2 px-4 py-2 text-sm font-medium uppercase bg-black text-white">
                SET AREA INCHARGE INFORMATION
            </span>
                    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                </h1>
            </div>


            <div class="max-w-8xl mx-auto p-6 bg-white rounded-2xl shadow-lg dark:bg-gray-800 pt-30">
                <h2 class="text-xl font-bold mb-6 text-gray-800 dark:text-gray-200">Enter One AIC Info Below:</h2>
                <div>
                    <form id="aicheaderform" method="POST" class="grid grid-cols-12 gap-4">
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                Campaign Name <span class="text-red-600">*</span>
                            </label>
                            <select id="campaignname" name="campaignname" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                            </select>
                        </div>

                        <!-- Province -->
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                Province <span class="text-red-600">*</span>
                            </label>
                            <select id="provincename" name="provincename" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                <option value="" disabled selected>Select Province</option>
                            </select>
                        </div>

                        <!-- Division -->
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                Division <span class="text-red-600">*</span>
                            </label>
                            <select id="divisionname" name="divisionname" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                <option value="" disabled selected>Select Division</option>
                            </select>
                        </div>

                        <!-- District -->
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                District <span class="text-red-600">*</span>
                            </label>
                            <select id="districtname" name="districtname" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                <option value="" disabled selected>Select District</option>
                            </select>
                        </div>

                        <!-- Tehsil -->
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                Tehsil <span class="text-red-600">*</span>
                            </label>
                            <select id="tehsilname" name="tehsilname" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                <option value="" disabled selected>Select Tehsil</option>
                            </select>
                        </div>

                        <!-- UC -->
                        <div class="col-span-12 md:col-span-3">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                UC <span class="text-red-600">*</span>
                            </label>
                            <select id="ucname" name="ucname" required
                                    class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                <option value="" disabled selected>Select UC</option>

                            </select>
                        </div>

                        <!-- AIC Name -->
                        <div class="col-span-12 md:col-span-6">
                            <label class="mb-1 block text-xs font-semibold text-gray-700 dark:text-gray-400">
                                AIC #.(Number) <span class="text-red-600">*</span>
                            </label>
                            <input type="text" id="aicname" name="aicname" placeholder="Enter AIC #" maxlength="2"
                                   required
                                   class="h-12 w-full rounded-lg border border-gray-300 bg-white px-3 text-lg text-gray-800 shadow-sm focus:border-green-500 focus:ring-1 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                        </div>
                        <div class="col-span-12 md:col-span-4 "></div>
                        <button
                                type="button" id="submitmydata"
                                class="flex justify-center col-span-12 md:col-span-4 items-center text-xl text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-user-round-plus-icon lucide-user-round-plus me-2">
                                <path d="M2 21a8 8 0 0 1 13.292-6"/>
                                <circle cx="10" cy="8" r="5"/>
                                <path d="M19 16v6"/>
                                <path d="M22 19h-6"/>
                            </svg>
                            SUBMIT
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <div id="teaminformation" class="col-span-12 md:col-span-6 bg-white rounded-lg shadow-lg">
            <div>
                <h1 class="flex flex-row flex-nowrap items-center my-6">
                    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                    <span class="flex-none block mx-2 px-4 py-2 text-sm font-medium uppercase bg-black text-white">
                SET TEAM INFORMATION
            </span>
                    <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                </h1>
            </div>
            <details id="teamModal" class="relative">
                <!-- Add Team Button -->
                <summary
                        id='addteamformopenerror' class="list-none flex items-center gap-2 pt-20 px-6 py-2 rounded-xl bg-blue-600 text-white text-lg font-semibold shadow hover:bg-blue-700 transition cursor-pointer mx-auto w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-user-round-plus-icon lucide-user-round-plus">
                        <path d="M2 21a8 8 0 0 1 13.292-6"/>
                        <circle cx="10" cy="8" r="5"/>
                        <path d="M19 16v6"/>
                        <path d="M22 19h-6"/>
                    </svg>
                    Add Team
                </summary>

                <!-- Modal Backdrop -->
                <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/60 backdrop-blur-sm">
                    <div class="bg-white rounded-2xl shadow-2xl w-full max-w-4xl p-12 relative border border-gray-200 transition">

                        <!-- Close Button -->
                        <button onclick="document.getElementById('teamModal').removeAttribute('open')"
                                class="absolute top-5 right-5 text-gray-500 hover:text-gray-800 text-3xl font-bold transition">
                            ✕
                        </button>

                        <!-- Heading -->
                        <div>
                            <h1 id="modalTitle" class="flex flex-row flex-nowrap items-center my-6">
                                <span class="flex-grow block border-t border-black" aria-hidden="true"
                                      role="presentation"></span>
                                <span class="flex-none block mx-2 px-4 py-2 text-sm font-medium uppercase bg-black text-white">
                                ADD TEAM INFORMATION
                            </span>
                                <span class="flex-grow block border-t border-black" aria-hidden="true"
                                      role="presentation"></span>
                            </h1>
                        </div>

                        <!-- Form -->
                        <form id="fixerform" type="POST" class="grid grid-cols-12 gap-6 items-end">
                            <div class="col-span-4">
                                <label class="block text-lg font-semibold text-gray-700 mb-3">
                                    Team Number <span class="text-red-600">*</span>
                                </label>
                                <input type="text" id="teamNumber" placeholder="Enter Team #" maxlength="3"
                                       class="h-16 w-full rounded-xl border border-gray-300 px-3 text-lg text-gray-900 font-medium shadow-md
                 focus:border-green-600 focus:ring-4 focus:ring-green-200 transition-all" required>
                            </div>

                            <div class="col-span-5">
                                <label class="block text-lg font-semibold text-gray-700 mb-3">
                                    Team Name <span class="text-red-600"></span>
                                </label>
                                <input type="text" id="teamName" placeholder="Enter Team Name"
                                       class="h-16 w-full rounded-xl border border-gray-300 px-3 text-lg text-gray-900 font-medium shadow-md
                 focus:border-green-600 focus:ring-4 focus:ring-green-200 transition-all">
                            </div>

                            <div class="col-span-3 flex items-end">
                                <button type="submit" id="submitTeam"
                                        class="h-16 w-full flex items-center justify-center gap-2 rounded-lg bg-blue-600
                   text-white text-xl font-bold shadow hover:bg-blue-700 transition transform hover:scale-105">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round"
                                         class="lucide lucide-book-plus-icon lucide-book-plus">
                                        <path d="M12 7v6"/>
                                        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"/>
                                        <path d="M9 10h6"/>
                                    </svg>
                                    Submit
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </details>
            <div class="flex flex-col items-center mt-8 w-full max-w-5xl mx-auto">
                <!-- Top Bar: Search + Pagination -->
                <div class="w-full mb-2 flex justify-between items-center">
                    <!-- Search Bar -->
                    <div class="flex items-center space-x-4 max-w-5xl mb-2">
                        <!-- Search Input -->
                        <input type="text" id="tableSearch" placeholder="Search..."
                               class="flex-1 px-4 py-2 rounded-full border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 text-base"
                               onkeyup="updatePagination()">

                        <!-- Right-aligned H3 / Code Box -->
                        <h3 class="text-3xl font-extrabold dark:text-white flex-none">
                        <span id="addaiccode"
                              class="inline-block border border-gray-500 text-gray-800 text-2xl font-semibold pl-10 px-4 py-2 ml-28">

                        </span>


                        </h3>


                    </div>

                    <!-- Pagination -->
                    <div class="flex items-center space-x-2">
                        <button onclick="prevPage()"
                                class="px-3 py-1 rounded-lg border border-gray-300 hover:bg-gray-100 transition flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M15 19l-7-7 7-7"/>
                            </svg>
                        </button>

                        <!-- Current Page -->
                        <span id="currentPage" class="px-2 py-1 font-medium text-gray-700">1</span>

                        <!-- Next Page -->
                        <button onclick="nextPage()"
                                class="px-3 py-1 rounded-lg border border-gray-300 hover:bg-gray-100 transition flex items-center justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- Table -->
                <div class="overflow-x-auto w-full rounded-lg shadow-lg">
                    <table class="min-w-full text-base text-left text-gray-700 border-collapse" id="dataTable">
                        <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-300">TeamCode</th>
                            <th class="px-6 py-3 border-b border-gray-300">TID</th>
                            <th class="px-6 py-3 border-b border-gray-300">Name</th>
                            <th class="px-6 py-3 border-b border-gray-300 text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white" id="tableBody">
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <hr>
    <hr>
    <div id="childinformation">
        <div>
            <h1 class="flex flex-row flex-nowrap items-center my-6">
                <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
                <span class="flex-none block mx-2 px-4 py-2 text-sm font-medium uppercase bg-black text-white">
                    MANAGE CHILDREN INFORMATION
                </span>
                <span class="flex-grow block border-t border-black" aria-hidden="true" role="presentation"></span>
            </h1>
        </div>
        <div class="grid grid-cols-12 mt-3">
            <div class="col-span-12 md:col-span-12 mx-auto">
                <select id="setoptions" class="w-full h-16 px-3 rounded-xl border border-gray-300 text-lg text-gray-900 font-medium shadow-md
                       focus:border-green-600 focus:ring-4 focus:ring-green-200 transition-all">
                    <option value="" selected disabled>Choose a Team</option>
                </select>
            </div>
        </div>
        <div class="">

            <!-- Trigger Button -->
            <div class="flex justify-center mt-4">
                <button id="openModalBtn"
                        class="flex items-center gap-2 rounded-full bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-lg
                           hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-baby">
                        <path d="M10 16c.5.3 1.2.5 2 .5s1.5-.2 2-.5"/>
                        <path d="M15 12h.01"/>
                        <path d="M19.38 6.813A9 9 0 0 1 20.8 10.2a2 2 0 0 1 0 3.6 9 9 0 0 1-17.6 0 2 2 0 0 1 0-3.6A9 9 0 0 1 12 3c2 0 3.5 1.1 3.5 2.5s-.9 2.5-2 2.5c-.8 0-1.5-.4-1.5-1"/>
                        <path d="M9 12h.01"/>
                    </svg>
                    Add Child Data
                </button>
            </div>

            <div id="profileModal" class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black/50 p-4">
                <div class="relative bg-white dark:bg-gray-900 rounded-xl p-6 max-w-8xl shadow-lg">
                    <!-- Close Button -->
                    <button id="closeModalBtn"
                            class="absolute top-3 right-3 text-gray-500 hover:text-red-600 transition"
                            aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>

                    <!-- Modal Heading -->
                    <div>
                        <h1 class="flex flex-row flex-nowrap items-center my-6">
                            <span class="flex-grow block border-t border-black" aria-hidden="true"
                                  role="presentation"></span>
                            <span class="flex-none block mx-2 px-4 py-2 text-lg font-medium uppercase bg-black text-white">
                    ADD SMC CHILD INFORMATION
                </span>
                            <span class="flex-grow block border-t border-black" aria-hidden="true"
                                  role="presentation"></span>
                        </h1>
                    </div>
                    <div class="relative w-3/4 mx-auto">
                        <div class="absolute inset-0 flex items-center">
                            <div class="w-full border-t-2 border-gray-300"></div>
                        </div>
                        <div class="relative flex justify-center">
                    <span class="px-4 bg-white dark:bg-gray-900 text-green-600 font-semibold text-lg rounded-full shadow">
                      ✦ ✦ ✦
                    </span>
                        </div>
                    </div>
                    <!-- Form -->
                    <form id="update_user_profile" method="POST" action="#"
                          class="space-y-4">
                        {% csrf_token %}
                        <div class="grid grid-cols-12 gap-4">
                            <div id="DayMain" class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Day <span class="text-red-600">*</span>
                                    </label>

                                    <select id="dayname" name="dayname" required
                                            class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 pr-10 text-[13px] text-gray-800 shadow-md transition-all ease-in-out focus:border-green-500 focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                        <option value="" disabled selected>Select Day</option>
                                        <option value="1">Day 1</option>
                                        <option value="2">Day 2</option>
                                        <option value="3">Day 3</option>
                                        <option value="4">Day 4</option>
                                        <option value="5">Day 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        House Number <span class="text-red-600">*</span>
                                    </label>

                                    <input id="housenumber" name="housenumber"
                                           type="number" min="0" required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[13px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="0" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-3">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Child Name <span class="text-red-600">*</span>
                                    </label>

                                    <input id="childname" name="childname"
                                           type="text" required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[10px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="Enter child name..." autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-3">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Father Name <span class="text-red-600">*</span>
                                    </label>

                                    <input id="fathername" name="fathername"
                                           type="text" required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[10px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="Enter father name..." autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Gender <span class="text-red-600">*</span>
                                    </label>

                                    <select id="gender" name="gender"
                                            class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 pr-10 text-[10px] text-gray-800 shadow-md transition-all ease-in-out focus:border-green-500 focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white"
                                            required>
                                        <option value="" disabled selected>Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-1">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Age <span class="text-red-600">*</span>
                                    </label>

                                    <input id="age" name="age"
                                           type="number"
                                           min="0" max="59"
                                           required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[13px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="0"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        # Missing Rounds <span class="text-red-600">*</span>
                                    </label>

                                    <input id="missingRounds" name="missingRounds"
                                           type="number"
                                           min="0"
                                           max="20"
                                           required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[13px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="0"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-5">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Address <span class="text-red-600">*</span>
                                    </label>

                                    <input id="address" name="address"
                                           type="text"
                                           required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[9px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="Enter full address..."
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Missed Reason <span class="text-red-600">*</span>
                                    </label>
                                    <select id="missedReason" name="missedReason"
                                            class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 text-[13px] text-gray-800 shadow-md transition-all ease-in-out focus:border-green-500 focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                        <option value="" disabled selected>Reason</option>
                                        <option value="NotAvailable">Not Available</option>
                                        <option value="Refusal">Refusal</option>
                                        <option value="LockedHouse">Locked House</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Sub Reason <span class="text-red-600">*</span>
                                    </label>
                                    <select id="subReason" name="subReason"
                                            class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 text-[13px] text-gray-800 shadow-md transition-all ease-in-out focus:border-green-500 focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white">
                                        <option value="" disabled selected>Sub Reason</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-4">
                                <div class="relative">
                                    <label class="mb-1 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        Location <span class="text-red-600">*</span>
                                    </label>

                                    <input id="location" name="location"
                                           type="text"
                                           required
                                           class="h-16 w-full max-w-3xl rounded-xl border border-gray-300 bg-white px-4 text-[9px] text-gray-800 placeholder-gray-400 shadow-md transition-all ease-in-out focus:border-green-500 focus:bg-white focus:outline-none focus:ring-2 focus:ring-green-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:border-green-400 dark:focus:bg-green-800 dark:focus:ring-green-800"
                                           placeholder="Enter full address..."
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-2">
                                <!-- HRMP Yes/No -->
                                <div class="relative">
                                    <label class="mb-1.5 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                        HRMP <span class="text-red-600">*</span>
                                    </label>

                                    <select id="hrmp" name="hrmp"
                                            class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 pr-10 text-[10px] text-gray-800 shadow-md focus:border-blue-500 focus:ring-2 focus:ring-blue-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:focus:ring-green-800"
                                            required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 md:col-span-2" x-data="{ showHint: false }">
                                <!-- Date Input -->
                                <label class="mb-1.5 block text-[12px] font-bold text-gray-700 dark:text-gray-400">
                                    Date <span class="text-red-600">*</span>
                                </label>

                                <input
                                        type="text"
                                        id="date"
                                        name="date"
                                        placeholder="DD-MM-YYYY"
                                        class="h-16 w-full rounded-xl border border-gray-300 bg-white px-4 text-[10px] text-gray-800 placeholder-gray-400 shadow-md focus:border-blue-500 focus:ring-2 focus:ring-blue-300 dark:border-gray-700 dark:bg-green-900 dark:text-white dark:placeholder-white/30 dark:focus:ring-green-800"
                                        autocomplete="off" required
                                />
                            </div>


                        </div>

                        <div class="relative w-3/4 mx-auto">
                            <div class="absolute inset-0 flex items-center">
                                <div class="w-full border-t-2 border-gray-300"></div>
                            </div>
                            <div class="relative flex justify-center">
        <span class="px-4 bg-white dark:bg-gray-900 text-green-600 font-semibold text-lg rounded-full shadow">
          ✦ ✦ ✦
        </span>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="flex justify-center">
                            <button type="submit" id="submitchildata"
                                    class="inline-flex items-center justify-center gap-2 rounded-xl bg-white/90 px-8 py-3
                                   text-blue-700 font-bold shadow-lg ring-1 ring-blue-500/30
                                   backdrop-blur-md transition-all duration-300
                                   hover:bg-blue-600 hover:text-white hover:shadow-xl
                                   active:scale-95">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="lucide lucide-baby-icon lucide-baby">
                                    <path d="M10 16c.5.3 1.2.5 2 .5s1.5-.2 2-.5"/>
                                    <path d="M15 12h.01"/>
                                    <path d="M19.38 6.813A9 9 0 0 1 20.8 10.2a2 2 0 0 1 0 3.6 9 9 0 0 1-17.6 0 2 2 0 0 1 0-3.6A9 9 0 0 1 12 3c2 0 3.5 1.1 3.5 2.5s-.9 2.5-2 2.5c-.8 0-1.5-.4-1.5-1"/>
                                    <path d="M9 12h.01"/>
                                </svg>
                                Add Child Data
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w-full rounded-lg shadow-lg">
            <div class="w-full mb-2 flex justify-between items-center">
                <!-- Search Bar -->
                <div class="flex items-center space-x-4 max-w-5xl mb-2">
                    <!-- Search Input -->
                    <input type="text" id="tableSearch2" placeholder="Search..."
                           class="flex-1 px-4 py-3 rounded-full border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 text-base"
                           onkeyup="updatePagination2()">
                </div>

                <!-- Pagination -->
                <div class="flex items-center space-x-2">
                    <button id="prevpage2" onclick="prevPage2()"
                            class="px-3 py-1 rounded-lg border border-gray-300 hover:bg-gray-100 transition flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>
                    </button>

                    <!-- Current Page -->
                    <span id="currentPage2" class="px-2 py-1 font-medium text-gray-700">1</span>

                    <!-- Next Page -->
                    <button id="nextpage2" onclick="nextPage2()"
                            class="px-3 py-1 rounded-lg border border-gray-300 hover:bg-gray-100 transition flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                        </svg>
                    </button>
                </div>
            </div>
            <table id="missedChildrenTable"
                   class="min-w-full text-base text-left text-gray-700 border-collapse display">
                <thead class="bg-gradient-to-r from-gray-100 to-gray-200 text-gray-700 uppercase text-sm">
                <tr>
                    <th class="px-6 py-3 border-b">Day</th>
                    <th class="px-6 py-3 border-b">House #</th>
                    <th class="px-6 py-3 border-b">Child Name</th>
                    <th class="px-6 py-3 border-b">Father Name</th>
                    <th class="px-6 py-3 border-b">Gender</th>
                    <th class="px-6 py-3 border-b">Age</th>
                    <th class="px-6 py-3 border-b"># Miss Round</th>
                    <th class="px-6 py-3 border-b">Address</th>
                    <th class="px-6 py-3 border-b">Missed Reason</th>
                    <th class="px-6 py-3 border-b">Sub Reason</th>
                    <th class="px-6 py-3 border-b">Location</th>
                    <th class="px-6 py-3 border-b">HRMP</th>
                    <th class="px-6 py-3 border-b">Date</th>
                    <th class="px-6 py-3 border-b text-center">Actions</th>
                </tr>
                </thead>
                <tbody class="bg-white" id="tableBody2">
                <!-- Example Row -->
                <tr class="hover:bg-gray-50 transition-colors">
                    <td class="px-6 py-4 border-b">Monday</td>
                    <td class="px-6 py-4 border-b">H-101</td>
                    <td class="px-6 py-4 border-b font-medium text-gray-900">Ali Khan</td>
                    <td class="px-6 py-4 border-b">Ahmed Khan</td>
                    <td class="px-6 py-4 border-b">Male</td>
                    <td class="px-6 py-4 border-b">5</td>
                    <td class="px-6 py-4 border-b">2</td>
                    <td class="px-6 py-4 border-b">Street 4, sdPeshawar</td>
                    <td class="px-6 py-4 border-b">Not Available</td>
                    <td class="px-6 py-4 border-b">Traveling</td>
                    <td class="px-6 py-4 border-b">Zone A</td>
                    <td class="px-6 py-4 border-b">HR-123</td>
                    <td class="px-6 py-4 border-b">2025-08-20</td>
                    <td class="px-6 py-4 border-b text-center flex justify-center space-x-2">
                        <!-- Edit Button -->
                        <button id="editdata" class="text-blue-600 hover:text-blue-800 px-3 py-2 bg-blue-100 hover:bg-blue-200
                                   rounded-lg flex items-center justify-center transition">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 21h8M21.174 6.812a1
                            1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321
                            4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0
                            .83-.497z"/>
                            </svg>
                        </button>
                        <!-- Delete Button -->
                        <button class="text-red-600 hover:text-red-800 px-3 py-2 bg-red-100 hover:bg-red-200
                                   rounded-lg flex items-center justify-center transition">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19 6v14a2 2
                            0 0 1-2 2H7a2 2 0 0 1-2-2V6M3 6h18M8 6V4a2 2
                            0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
