{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SMC Tracker{% endblock %}</title>

    <!-- Core CSS -->
<!--    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=DM+Sans:wght@400;500;700&display=swap"
          rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>


    {% block extra_css %}{% endblock %}
</head>

<body class="bg-white dark:bg-gray-900 text-gray-800 dark:text-white">
{% block content %}{% endblock %}

<!-- Core JS -->
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{% block extra_js %}{% endblock %}
</body>

</html>
