# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
env/
.venv/
venv/
ENV/

# Django
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo
local_settings.py

# Migrations
*/migrations/*.pyc
*/migrations/*.py
*/migrations/__pycache__/

# FastAPI / other logs
*.log

# Environment files
.env
*.env

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker / Dev files
docker-compose.yml
Dockerfile
requirements-dev.txt
reqs.txt
test_hash.py
